<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="WebsiteUrl" value="https://www.example.com" />
    <add key="WebsiteName" value="Example Website" />
    
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUseSsl" value="true" />
    <add key="SmtpUsername" value="YOUR_SMTP_USER_NAME" />
    <add key="SmtpPassword" value="YOUR_SMTP_PASSWORD" />
    <add key="SmtpSenderEmailAddress" value="YOUR_SENDER_EMAIL_ADDRESS" />
  </appSettings>
</configuration>
